<!DOCTYPE html>
<html>
<body>

<h1>Lista de eventos da IVM dada</h1>
<p></p>
<button onclick="window.location.href='http://web2.ist.utl.pt/ist199303/test.cgi/';">
    Main menu
  </button>
<p></p>

{% if cursor %}
    <table border="2px">
        <thead>
            <tr>
                <th>Unidades</th>
                <th>ean</th>
            </tr>
        </thead>
        <tbody>
            {% for record in cursor %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p> Erro: não foi possível obter dados da base de dados!</p>
{% endif %}

<p></p>
<button onclick="window.location.href='http://web2.ist.utl.pt/ist199303/test.cgi/list_ivms';">
    Previous menu
  </button>
<p></p>

</body>
</html> 