<!DOCTYPE html>
<html>
<body>

<h1>Main menu</h1>

<p></p>
<button onclick="window.location.href='http://localhost:8000/cgi-bin/test.cgi/ins_rem_cat';">
    Inserir e remover categorias e sub-categorias
  </button>

<p></p>
<button onclick="window.location.href='http://localhost:8000/cgi-bin/test.cgi/ins_rem_retailer';">
    Inserir e remover um retalhista
  </button>

<p></p>
<button onclick="window.location.href='http://localhost:8000/cgi-bin/test.cgi/list_ivms';">
    Listar todos os eventos de reposição de uma IVM
  </button>

<p></p>
<button onclick="window.location.href='http://localhost:8000/cgi-bin/test.cgi/list_all_subcat';">
    Listar todas as sub-categorias de uma super-categoria
  </button>


<h2>
  Teste de menu 3
</h2>
<form action="list_ivm_events" method="post">
  <p><input type="hidden" name="ivm_sn" value="0"/></p>
  <p><input type="submit" value="Listar todos os eventos de reposição de uma IVM"/></p>
</form>

<p></p>
<button onclick="window.location.href='http://localhost:8000/cgi-bin/test.cgi/test';">
    test
  </button>

</body>
</html> 